#menu-btn {
    display: block;
    width: 40px;
    height: 3px;
    padding: 10px;


}




.ant-layout-header {
    line-height: 30px !important;
}

.hamburger {
    margin-top: 10px !important;
    cursor: pointer !important;
}